body{
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    min-width: 1190px;
}


.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.inner{
    width: 1130px;
    margin: 0 auto;
}

.img-bd{
    display: block;
    position: relative;
}
.img-bd::after{
    content: '';
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    border: 1px solid #000;
    opacity: 0.1;
    background-color: #000;
}


.header-area .logo,
.header-area .search-area button::after,
.header-area .service-area a.link-start:after,
.header-area .link-junior::after,
.header-area .link-bin::after,
.header-area .weather-area .degree-box .min::after,
.sc-news .group-title .set-area .btn-set::after,
.sc-cardnews .navi .btn.prev::after,
.sc-cardnews .navi .btn.next::after,
.sc-recipe .info-area .my-set::before,
.prev .ico-btn,
.next .ico-btn,
.sc-recipe .preview-area .ico-play,
.funding-area .Ftitle-area .rt-title::after,
.more-btnarea .more-btn::before,
.footer-inner .notice-area .service::after,
.header-area .gnb-area .btn-more::after,
.sc-news .group-title .link-title::before,
.sc-news .group-title .link-title::after,
.sc-login .link-login::before,
.sc-login .sub-area .link-id::before,
.sc-login .sub-area .link-join::before
{
    background-image: url(../images/sp_main_dba1af.png);
    background-repeat: no-repeat;
    background-size: 457px;
}

.sc-shop .shop-header .title::before,
.sc-shop .shop-header .title::after,
.shop-body .news-top .btn::before,
.shop-body .news-top .next::before,
.shop-deal .shopdeal-title .deal-link::before,
.plusdeal-item .plusdeal-box .ico_one_plus,
.plusdeal-item .plus-R::before,
.sc-shop .btn1.prev::before,
.shop-body .btn1.next::before
{
    background-image: url(../images/sp_shop_a620bd.png);
    background-repeat: no-repeat;
    background-size: 107px 101px;
}
.header-area .weather-area .weather-icon::before{
    background-image: url(../images/is-weather.png);
    background-repeat: no-repeat;
    background-size: 215px;
}